<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
</head>
<body>
    <h1>Edit Item</h1>
    <br>
    <hr>
    <form action="{{ url_for('edit_grocery', grocery_id=item.id) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.item.label }} <br>
        {{ form.item(value=item.item) }} <br>
        {{ form.quantity.label }} <br>
        {{ form.quantity(value=item.quantity) }} <br>
        {{ form.price.label }} <br>
        {{ form.price(value=item.price) }} <br>
        
        <input type="submit" value="Update">

    </form>
    <br>
    <hr>
    <a href="{{url_for('dashboard')}}">Back to Dashboard</a>
</body>
</html>
