<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESET PASSWORD</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mt-5">Reset Password</h2>
                <form action="/send_mail" method="post" class="mt-4">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="email">Email:</label>
                        {{ form.email(id="email", class="form-control") }}
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Reset Password" class="btn btn-primary"> 
                        
                        <button type="button" class="btn btn-secondary" onclick="goBack()">Go Back</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>